### nlytiq build config

### build version
NLYTIQ_VERSION		= 0
NLYTIQ_SUB_VERSION	= 6
NLYTIQ_BUILD		= $(shell pwd)

###   Everything will be installed under
NLYTIQ_TOP              = /opt/nlytiq
NLYTIQ_INST_PATH	= ${NLYTIQ_TOP}
NLYTIQ_ETC_PATH		= ${NLYTIQ_INST_PATH}/etc
NLYTIQ_SBIN_PATH	= ${NLYTIQ_INST_PATH}/sbin
NLYTIQ_BIN_PATH		= ${NLYTIQ_INST_PATH}/bin
NLYTIQ_MAN_PATH		= ${NLYTIQ_INST_PATH}/man/man8

### for parallel builds
# note: need to use uname -s to distinguish between Linux and OSX
OS		:= $(shell uname -s)

# linux
ifeq ($(OS), Linux)
NCPU		:= $(shell lscpu -p | wc -l 2>/dev/null )
MAKECMD		:= make
# now ... if running an lx-brand zone, lscpu will fail so ...
ifeq ($(NCPU),0)
NCPU            := $(shell cat /proc/cpuinfo  | grep "model name" | wc -l )
endif
endif

# FreeBSD
ifeq ($(OS), FreeBSD)
NCPU		:= 4
MAKECMD		:= gmake
endif

# OSX
ifeq ($(OS), Darwin)
NCPU            := $(shell sysctl -n hw.ncpu)
MAKECMD		:= make
endif

ifeq ($(OS), SunOS)
NCPU		:= $(shell psrinfo -p | grep "The core" | wc -l )
MAKECMD		:= gmake
ifeq ($(NCPU),0)
NCPU	:= 4
endif
endif

### assume bash
ifneq ($(OS), SunOS)
SHELL		= /bin/bash
else
# really need to fix this.
SHELL		= /opt/local/bin/bash
endif

### OS data
OSREV           = $(shell uname -r)

# bring in compiler specs
include compiler.config


###################################################
## debugging targets

print-%  : ; @echo $* = $($*)
# use as "make print-VARIABLE_NAME" to see variable name
