### nlytiq build config

### build version
NLYTIQ_VERSION		= 0
NLYTIQ_SUB_VERSION	= 7
NLYTIQ_BUILD		= $(shell pwd)

###   Everything will be installed under
NLYTIQ_TOP              = ${HOME}/local
NLYTIQ_INST_PATH	= ${NLYTIQ_TOP}
NLYTIQ_ETC_PATH		= ${NLYTIQ_INST_PATH}/etc
NLYTIQ_SBIN_PATH	= ${NLYTIQ_INST_PATH}/sbin
NLYTIQ_BIN_PATH		= ${NLYTIQ_INST_PATH}/bin
NLYTIQ_MAN_PATH		= ${NLYTIQ_INST_PATH}/man/man8
NLYTIQ_LIB_PATH		= ${NLYTIQ_INST_PATH}/lib 



### for parallel builds
# note: need to use uname -s to distinguish between Linux and OSX
OS		:= $(shell uname -s)

# linux
ifeq ($(OS), Linux)
NCPU		:= $(shell lscpu -p | wc -l 2>/dev/null )
MAKECMD		:= make

ifeq ($(NCPU),0)
NCPU            := $(shell cat /proc/cpuinfo  | grep "model name" | wc -l )
endif
endif

# OSX
ifeq ($(OS), Darwin)
NCPU            := $(shell sysctl -n hw.ncpu)
MAKECMD		:= /usr/local/bin/gmake
endif

### assume bash
SHELL		= /bin/bash

### OS data
OSREV           = $(shell uname -r)

# bring in compiler specs
include config/compiler.config


###################################################
## debugging targets

print-%  : ; @echo $* = $($*)
# use as "make print-VARIABLE_NAME" to see variable name
