### nlytiq compiler config

### compilers
# set variable to 1 to use.  Only one can be used at a time
ifeq (${OS}, Linux)
include config/compiler.config.linux
endif

ifeq (${OS}, Darwin)
include config/compiler.config.darwin
endif

#
# note the trailing slash.  You *MUST* have it, or this will
# break
#



# sanity check
ifeq ($(GCC),1)
ifeq ($(CLANG),1)
$(error You have both GCC=1 and CLANG=1 in base.config.  Only one or the other can be 1.)
endif
endif

ifeq ($(GCC),0)
ifeq ($(CLANG),0)
$(error You have both GCC=0 and CLANG=0 in base.config.  Only one or the other can be 0.)
endif
endif

# specific compiler config.  Set CC, CXX, CFLAGS, CXFLAGS

ifeq ($(GCC),1)
CC             = ${GCC_PATH}gcc${GCC_VER}
CXX            = ${GCC_PATH}g++${GCC_VER}
CFLAGS         = -fPIC -O3 -malign-double 
CXXFLAGS       = -fPIC -O3 -malign-double 	
FC	       = ${GCC_PATH}gfortran{$GCC_VER}
F77	       = ${FC}
endif

ifeq ($(CLANG),1)
CLANG_VER 	= ""
_CLP_		= $(shell /usr/bin/which clang${CLANG_VER})
_CLPPP_		= $(shell /usr/bin/which clang++${CLANG_VER})
CC              = ${_CLP_}
CXX             = ${_CLPPP_}

CFLAGS          = -O2  
CXXFLAGS	= -O2
endif

# fortran flags: needed for Julia, R, Octave.  Change if using another
# compiler.
FCFLAGS		= -O3 

FC		= ${GCC_PATH}gfortran${GCC_VER}
FFLAGS		= ${FCFLAGS}
### use locally compiled atlas or not
BUILDATLAS	= 0

