ifeq ($(PYCOMP),0)
export _EPF_= CC=${CC} CXX=${CXX} F77=${FC} CFLAGS="${CFLAGS}" CXXFLAGS="${CXXFLAGS}" FCFLAGS="${FCFLAGS}" FFLAGS="${FFLAGS}" LDFLAGS="${LDFLAGS}"
endif

ifeq ($(PYCOMP),1)
export _EPF_= CC=${PYCC} CXX=${PYCXX} F77=${FC} CFLAGS="${PYCFLAGS}" CXXFLAGS="${PYCXXFLAGS}" FCFLAGS="${FCFLAGS}" FFLAGS="${FFLAGS}" LDFLAGS="${LDFLAGS}"
endif
