### force baseline gcc if GCC_VER is not blank
# if blank GCC_VER, then use default GCC and path
ifneq ($(GCC_VER),)
GCC_PATH       =
GCC_VER        =
CC             = ${NLYTIQ_INST_PATH}/bin/clang
CXX            = ${NLYTIQ_INST_PATH}/bin/clang++
FC	       = ${GCC_PATH}gfortran${GCC_VER}
CFLAGS         := -O3 -g
CXXFLAGS       := ${CFLAGS}
FCFLAGS	       := ${CFLAGS}
