### force baseline gcc if GCC_VER is not blank
# if blank GCC_VER, then use defauly GCC and path
ifneq ($(GCC_VER),)
#GCC_PATH       =
#GCC_VER        =
CC             = ${GCC_PATH}gcc${GCC_VER}
CXX            = ${GCC_PATH}g++${GCC_VER}
FC	       = ${GCC_PATH}gfortran${GCC_VER}
CFLAGS         := -fPIC -O3 -malign-double -g
CXXFLAGS       := -fPIC -O3 -malign-double -g
FCFLAGS	       := ${CFLAGS}
endif
