ifneq ($(GCC_VER),)
CC             = $(shell which clang)
CXX            = $(shell which clang++)
FC	       = $(shell which gfortran${GCC_VER})
CFLAGS         := -O3 -g
CXXFLAGS       := ${CFLAGS}
FCFLAGS	       := ${CFLAGS}
FFLAGS         := ${CFLAGS}

else

CC             = $(shell which clang)
CXX            = $(shell which clang++)
FC             = $(shell which gfortran)
CFLAGS         := -O3 -g
CXXFLAGS       := ${CFLAGS}
FCFLAGS        := ${CFLAGS}
FFLAGS         := ${CFLAGS}


endif
